


################################################################################

Commands:
    ** "machine-status" -- To check machine status.
    ** "machine-reserve <Name|email>" -- To reserve.
    ** "machine-release" -- To release 

Note:
    ** If reserved, contact current owner before reserving or using it.

   
              ****    STATUS    ****



################################################################################


